header{
    display: flex;
    justify-content: wrap;
    text-align: center;
    color: rgb(255, 151, 168); 
    margin-top: 50px;
}
img{
    height: 10%;
    width: 8%;
    margin: -15px 0px 0px 20px;
}
nav{
    margin-top: 40px;
}
a{
    margin: 0px 40px s0px 40px;
    color:rgb(148, 85, 207);
    text-decoration: none;
}
